# dependencies
node_modules

# nextjs
.next
out

# env
.env
.env.local

# logs
*.log

# build
dist
coverage

# prisma
prisma/dev.db
prisma/dev.db-journal

# testing
playwright-report
test-results

# misc
.DS_Store
Thumbs.db
